# copy in /etc/systemd/system/arma.service

[Unit]
Description=Arma3 Server
Wants=network-online.target

[Service]
Type=simple
User=steam
ExecStart=/home/steam/.steam/steamcmd/arma3/arma3server
ExecStop=/bin/kill -2 $MAINPID

[Install]
WantedBy=multi-user.target
